@import 'tailwindcss';

:root {
  --color-bleu-violacee: #4c2e6c;
  --color-rose-violet: #c62d6a;
  --color-bleu-foncee: #2b2d75;
  --color-blanc: #ffffff;
}

body {
  font-family: 'Spline Sans', sans-serif;
}

.text-shadow-sm {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}